# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Backup files
*.tfstate.backup

# Terraform variable files
*.tfvars
*.tfvars.json

# Crash log files
crash.log

# Override files
override.tf
override.tf.json

# Files with the default values
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Other
*.log
